################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InterviewScheduler/.vs/InterviewScheduler/v17
